* {
  outline: none;
}

.content-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 2000px;
  width: 100%;
  border: 1px solid gainsboro;
}

:global(.grid-wrapper) {
  width: 100% !important;
}
.empty-state {
  border: 2px dashed #ddd;
  border-radius: 10px;
  padding: 16px;
  color: #777;
}

.tab-content {
  margin-top: 8px;
}